<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/public/css/base.css">
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="wrap">
        {% include './header.html' %}
        <main class="main">
            {% block main %}
            {% endblock %}
        </main>
        {% include './footer.html' %}
    </div>
    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.js"></script>
    <script>
        $(function () {
            let user = localStorage.getItem('user')
            if (!user) {
                console.log('未登陆');
                $('.LOGIN').text('未登陆')
                return false
            }
            user = JSON.parse(user)
            const time = new Date()
            if (user.time - time > 0) {
                console.log('未过期');
                $('.LOGIN').text('登陆')
            } else {
                console.log('已过期');
                localStorage.removeItem('user')
                $('.LOGIN').text('未登陆')
            }
        })
    </script>
    {% block foot%}
    {% endblock %}
</body>

</html>