<div class="app-login" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixUser">
          <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
          <input type="text" nz-input formControlName="userName" placeholder="用户名">
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').hasError('required')">请输入您的账号！</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixLock">
          <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
          <input type="password" nz-input formControlName="password" placeholder="密码">
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').hasError('required')">请输入您的密码！</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="remember">
          <span>记住账号</span>
        </label>
        <a class="login-form-forgot" class="login-form-forgot">忘记密码</a>
        <button nz-button class="login-form-button" [nzType]="'primary'" (click)="login()">登录</button>
        Or
        <a href="javascript:;">注册</a>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
