{% extends './layout/layout.html' %}

{% block main %}
<div class="container">
    <div class="py-5 text-center">
        <h2>Checkout form</h2>
        <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form
            group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4 class="mb-3">注册</h4>
            <form>
                <div class="form-group">
                    <label for="Nickname">昵称</label>
                    <input type="text" class="form-control" id="Nickname" placeholder="Nickname">
                </div>
                <div class="form-group">
                    <label for="Username">用户名</label>
                    <input type="text" class="form-control" id="Username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">密码</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">同意用户协议</label>
                </div>
                <button type="submit" class="btn btn-primary">注册</button>
            </form>
        </div>
        <div class="col-md-6">
            <h4 class="mb-3">登录</h4>
            <form>
                <div class="form-group">
                    <label for="Username">用户名</label>
                    <input type="text" class="form-control" id="Username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">密码</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}

{% block foot %}
<script>
    $(function () {
        alert(1)
    })
</script>
{% endblock %}