{% extends "./layout/layout.html" %}


{% block main %}
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" name="word" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
{% endblock %}

{% block foot %}
<script>
    $(function () {
        $('.form-inline').on('submit', function () {
            var result = $(this).serialize()
            console.log(result);
            $.ajax({
                url: '/api/find',
                data: result,
                success: function (res) {
                    console.log(res);
                },
                error: function (err) {
                    console.log(err);
                }
            })
            return false;
        })
    })
</script>
{% endblock %}