{% extends "./layout/layout.html" %}


{% block main %}
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" name="nickname" placeholder="nickname" aria-label="Searchnickname">
        <input class="form-control mr-sm-2" type="search" name="username" placeholder="username" aria-label="Searchusername">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">username</th>
            <th scope="col">nickname</th>
            <th scope="col">gender</th>
        </tr>
    </thead>
    <tbody>
        {% for item in arr %}
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<ul>
    {% for item in items %}
    <li>{{ item.title }}</li>
    {% else %}
    <li>This would display if the 'item' collection were empty</li>
    {% endfor %}
</ul>
{% endblock %}

{% block foot %}
<script>
    $(function () {
        $('.form-inline').on('submit', function () {
            var result = $(this).serialize()
            console.log(result);
            $.ajax({
                url: '/api/find',
                data: result,
                success: function (res) {
                    console.log(res);
                },
                error: function (err) {
                    console.log(err);
                }
            })
            return false;
        })

        $.ajax({
            url: '/api/find',
            success: function (res) {
                console.log(res);
            },
            error: function (err) {
                console.log(err);
            }
        })
    })
</script>
{% endblock %}